[Unit]
Description=Run first boot script
After=network.target auditd.service
ConditionFileIsExecutable=/usr/local/sbin/first-boot-script

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/first-boot-script

[Install]
Alias=first-boot-script.service
WantedBy=multi-user.target
