#version=RHEL8
{% if env('KS_MEDIA') == "cdrom" %}
# Use CDROM installation media
cdrom
{% elif env('KS_MEDIA') == "url" %}
# Use URL installation media
url --url="{{ env('urlstr') }}/8.2.2004/BaseOS/x86_64/os"
{% endif %}
#ignoredisk --only-use=vda

# Partition clearing information
clearpart --all --initlabel
# Use text install
text
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=link --ipv6=auto --activate
network  --hostname=localhost

# Set crypted Root password - https://access.redhat.com/solutions/44662
rootpw --iscrypted {{ env('passwordcrypt') }}

# Disable the Setup Agent on first boot
firstboot --disable

# Accept Eula
eula --agreed

# Reboot when the install is finished.
reboot

# Do not configure the X Window System
skipx

# System services
services --enabled="chronyd"

# System timezone
timezone Etc/UTC --isUtc --ntpservers=_gateway

# Disk partitioning information
part /boot --fstype="ext4" --size=1024
part pv.01 --fstype="lvmpv" --grow
volgroup vg pv.01
logvol swap --fstype="swap" --name="swaplv" --vgname="vg" --size=128
logvol / --fstype="xfs" --name="root" --vgname="vg" --size=20480 --grow
# or one volume used 100% of disk space 
# logvol / --fstype="xfs" --name=root --vgname=cl --percent=100 --grow
# if system used EFI
# part /boot/efi --fstype=efi --grow --maxsize=200 --size=20

%packages
@^minimal-environment
@standard
device-mapper-persistent-data
lvm2
perl-interpreter
python3

# Exclude packages that are not needed in a VM image
-aic94xx-firmware
-atmel-firmware
-bfa-firmware
-ipw*-firmware
-ivtv-firmware
-iwl*firmware
-libertas-*-firmware
-ql*-firmware
-rt*-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
#!/bin/bash

dnf update -y

#
# Saltstack dependencies
#
rpm --import https://repo.saltproject.io/py3/redhat/8/x86_64/latest/SALTSTACK-GPG-KEY.pub
wget https://repo.saltproject.io/py3/redhat/8/x86_64/latest.repo -O /etc/yum.repos.d/salt.repo
dnf install -y salt-minion
mkdir -p /srv/salt

#
# Authorisation and Authentication
#

# Password-less sudo for lab
perl -pi -e 's/^(%wheel\s+ALL=\(ALL\)\s+ALL)/# $1/' /etc/sudoers
perl -pi -e 's/^#\s*(%wheel.+NOPASSWD)/$1/' /etc/sudoers

# Setup root ssh access for ansible
umask 077
mkdir /root/.ssh

umask 022
echo '{{ env('pubkey') }}' > /root/.ssh/authorized_keys

# Add a same user to image
useradd -p '{{ env('userpass') }}' -m -G wheel {{ env('USER') }}

sudo -i -u {{ env('USER') }} /bin/bash -l <<'BASH'
umask 077
mkdir -p ~/.ssh

umask 022
echo '{{ env('pubkey') }}' > ~/.ssh/authorized_keys
BASH

#
# Setup repositories
#

# Install EPEL
rpm -ivh https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
dnf config-manager --set-enabled PowerTools

# Cleanup
rm -f /root/{anaconda,original}-ks.cfg

%end